@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: rgb(4 30 66);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  color: var(--primary);
}

a {
  color: var(--primary);
}

#main {
  width: 100%;
  text-align: center;
}

#profile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

#profile #intro-div {
  margin: 1rem 0 2rem 0;
}

#datetime {
  margin-top: 1.5rem;
  font-size: 18px;
  font-weight: 700;
}

#goals-section {
  padding: 2rem 0;
  background-color: var(--primary);
  color: white;
} 

#goals-section h2 {
  margin-bottom: 0.5rem;
}

#goals-section ul {
  list-style: circle ;
}

#goals-section ul li {
  margin-bottom: 0.5rem;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#links a {
  margin-right: 1rem;
}